doctype html
html(lang="en")
  head
    title Chat window
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width")
    script(data-main="/js/main", src="/js/require.js")
    link(type="text/css", rel="stylesheet", href="/css/main.css")

  body
    #footer
    #connectedUsers
      .connectedItem(photo_path="https://somedir.com/public/image_ergre.jpg", user_name="some user", user_id="15125841").
        Some user
      .connectedItem.
        Tomi
      .connectedItem.
        Patacón
      .connectedItem.
        Inés
      .connectedItem.
        Gokú
      .connectedItem.
        Bringme